img {
	display: block;
	width: 100%;
}

h2 {
	margin: 0;
	font-size: 1.4rem;
}

@media (min-width: 50em) {
	h2 {
		font-size: 1.8rem;
	}
}

.cta {
	--shadowColor: pink;
	display: flex;
	flex-wrap: wrap;
	background: white;
	max-width: 50rem;
	width: 100%;
	box-shadow: 0.65rem 0.65rem lightpink;
	border-radius: 0.8rem;
	overflow: hidden;
	border: 0.2rem solid;
}

.cta img {
	aspect-ratio: 3 / 2;
	object-fit: cover;
	flex: 1 1 300px;
	outline: 0.2rem solid;
}

.cta__text-column {
	padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}

.cta__text-column > * + * {
	margin: min(1.5rem, 2.5vw) 0 0 0;
}

.cta a {
	display: inline-block;
	color: black;
	padding: 0.5rem 1rem;
	text-decoration: none;
	background: white;
	border-radius: 0.6rem;
	font-weight: 500;
	border: 0.35rem solid;
}

.cta {
    position: relative;
  }
  
  .cta__hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .cta:hover .cta__hover-text {
    opacity: 1;
  }